.slectcx .ss-terssd {
		padding: 1em;
	}
.slectcx .ss-terss{padding:10px 10px 25px 10px!important;}
	.slot-tree .slot-t-top {
		margin-bottom: 15px;
	}
.slectcx .ss-terssd .el-tree-node__content{height:31px!important;}
